/.node_modules/
/my_backend_api/node_modules/
/.cache/
/.config/
/.docker/
/.idea/
/.java/
/.local/
/.mongodb/
/.npm/
/.pm2/
/.ssh/
/appwrite/
/my_backend_api/serviceAccount.json
/my_backend_api/.env
/my_backend_api/utils/firebase_admin_key.json